.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: none;
  width: 385px;
  margin: 0;
  padding: 0;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  height: 60px;
  border: 0;
  border-radius: 4px;
  border-color: #838383;

  max-width: 385px;
  margin-top: 8px;
  margin-bottom: 32px;
  padding: 0 12px 0 12px;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  border-radius: 4px;
  border-style: none;
  width: 100%;
  height: 60px;
  max-width: 385px;
  margin-bottom: 32px;
  background-color: #2f80ed;
  padding: 0;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;

  transition: opacity 0.4s ease-in-out;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 2px;
  margin-bottom: 120px;
  column-gap: 12px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox-invisible {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__checkbox-visible {
  width: 20px;
  height: 20px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
